.c-tabs {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	flex-direction: column;
	min-width: 0;
	flex-shrink: 0;
	max-width: 100%;
	line-height: 22px;

	margin-top: 18px;

	width: 100%;

	&__list {
		white-space: nowrap;
		flex-grow: 1;
		display: flex;
		overflow-y: hidden;

		@screen sm-max {
			justify-content: space-between;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		font-weight: 400;
		cursor: pointer;

		transition: theme(transitions[sm]) color;

		&:hover {
			color: theme(colors[accent]);
		}

		&:not(:last-child) {
			margin-right: 20px;

			@screen sm {
				margin-right: 55px;
			}
		}

		&.is-active {
			pointer-events: none;
			color: theme(colors[accent]);
		}
	}

	&__link {
		background-color: theme(colors[white]);
		color: theme(colors[black]);
		display: flex;
		font-weight: 700;
		gap: 8px;
		height: 44px;
		padding: 0 20px;
		align-items: center;
		border-radius: 99px;

		&:hover {
			background-color: theme(colors[primary]);
			color: theme(colors[black]);
		}

		.c-tabs__item.is-active & {
			background-color: theme(colors[primary]);
			color: theme(colors[black]);
		}
	}

	&__count {
		color: theme(colors[black]);
		font-weight: 400;
		transition-property: color;
	}
}
