<header class="c-header js-header">
	<nav class="c-header__inner l-box">
		<div class="c-header__logo">
			{% include '../_components/logo.twig' %}
		</div>

		<div class="c-header__main">
			<div class="c-search">
				<div class='c-search__icon'>
					{% include '../_components/icon.twig' with {
						icon: 'search-normal',
        			} %}
				</div>
				<input type="text" placeholder='Search for places' class='c-search__input'>
			</div>
			{% include '../_components/socials.twig' %}
		</div>
	</nav>
</header>
