{% extends '_templates/base.twig' %}

{% set pageTitle = 'Discover' %}
{% set pageId = 'discover' %}
{% set styleLinks = ['discover'] %}
{% set htmlClass = 'is-nospace' %}

{% block content %}
	<section>
		HW
	</section>
{% endblock %}
