:root {
	color-scheme: dark;
}
:focus-visible {
	outline-color: theme(colors[gray]);
}
* {
	scroll-margin: 72px;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
	transition-property: none;
	border-color: theme(colors[gray]);
}
html {
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: theme(colors[text]);
	background-color: theme(colors[body]);
	font-size: theme(fontSize[base]);
	line-height: theme(lineHeight[normal]);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility !important;
	padding-top: var(--header-height);
	font-family: 'Baloo 2', cursive;
	.is-nospace & {
		padding-top: 0;
	}
	> main {
		flex-grow: 1;
	}
}
a,
button {
	color: currentColor;
	-webkit-tap-highlight-color: transparent;
	transition-property: border-color, background-color, color, opacity;
	&:hover {
		opacity: 0.6;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 24px;
}

h2 {
	font-weight: 600;
	font-size: 40px;
	line-height: 47px;
	color: $white;
	text-align: center;
	opacity: 1;
	transition: opacity theme(transitions[sm]);
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button {
	border: none;
	background: none;
	outline: none;
	font-size: 1rem;
	color: theme(colors[text]);
	padding: 0;
	margin: 0;
}

a {
	color: theme(colors[text]);
	text-decoration: none;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	width: 1420px;
	margin: 0 auto;
}
