.f-btn {
	appearance: none;
	height: 52px;
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	padding: 10px 32px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	transition-property: background-color, color, border-color, box-shadow;
	&:disabled,
	&.is-disabled {
		opacity: 0.6;
		pointer-events: none;
	}
	& .i-icon {
		margin-right: 8px;
	}
	&--sm {
		height: 44px;
	}
	&--lg {
		height: 64px;
	}
	&--primary {
		background-color: theme(colors[primary]);
		color: theme(colors[black]);
		&:hover,
		&:focus {
			opacity: 1;
			background-color: color(theme(colors[primary]) blackness(+10%));
			color: theme(colors[black]);
		}
	}
	&--gray {
		background-color: theme(colors[gray]);
		color: theme(colors[primary]);
		&:hover,
		&:focus {
			background-color: color(theme(colors[gray]) blackness(+10%));
			color: theme(colors[primary]);
		}
	}
	&--rounded {
		border-radius: 999px;
	}
	&--link {
		&:hover {
			text-decoration: none;
			color: theme(colors[primary]);
		}
	}
	&--overlay {
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}
	}
	&--block {
		width: 100%;
	}
	&--disabled {
		pointer-events: none;
		opacity: 0.2;
	}
	&--arrow {
		width: 64px;
		height: 64px;
		padding: 10px;
		border-radius: 999px;
		& .i-icon {
			margin: 0;
			width: 18px;
			height: 18px;
		}
	}
}
.c-btn {
	padding: 10px 30px;
	border-radius: 30px;

	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5rem;

	&--border {
		border: 1px solid theme(colors[gray]);

		&:hover {
			background-color: theme(colors[accent]);
			border-color: theme(colors[accent]);
			color: white;
		}
	}

	&--icon {
		will-change: transform;
		transition: transform theme(transitions[sm]);
		padding: 0;

		svg {
			will-change: transform;
			transition: transform theme(transitions[sm]);
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				transform: scale(1.1);

				svg {
					transform: scale(0.8);
				}
			}
		}
	}
}
