<!DOCTYPE html>
<html lang="uk" class="{{ htmlClass }}">
	{% include '../_app/head.twig' %}

	<body class="{{ bodyClass }}">
		<main class="{{ mainClass }}">
			{% include '../_app/header.twig' %}
			{% block content %}

			{% endblock %}
		</main>

		{% include '../_components/modals.twig' %}
		{% include '../_components/tooltips.twig' %}

		{{ additionalScripts }}
	</body>
</html>
